<div class=" w-full bg-custom-gray flex justify-center row-span-6  tbs:overflow-y-auto mb-14">
    <div>

        <div class="  flex mt-6 justify-center">  
                
            <h1 class="text-[50px]  font-semibold text-white text-center  ">WEBSITES AND MOBILE APPS</h1>
        
        </div>
        
       <div class="lg:grid lg:grid-cols-3 gap-7  justify-center bg-custom-gray mt-4 ">
                  <div class="  h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Kandegedra Tea Distribute</h1>
                    <a href="https://github.com/IT21156342/kamdeGeddara.git">
                      <img src="https://firebasestorage.googleapis.com/v0/b/imageuplode-3e802.appspot.com/o/images%2FAboutUs%20(1).png?alt=media&token=5c3458f2-e9e5-4ef8-a430-7c75a5d4ea66"  width="300px" height="10px" class=" px-10 ml-10"/>
                    </a>
                   
                  </div>
                  <div class=" h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Bus Ticket</h1>
                    <a href="https://github.com/IT21156342/BusTicket.git">
                      <img src="https://static.dezeen.com/uploads/2019/12/station-of-being-arctic-bus-stop-rombout-frieling-lab_dezeen_2364_col_6.jpg"  width="550px" height="100px" class=" pe-4"/>
                    </a>
                   
                  </div>
                  <div class=" h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Shopping Mall </h1>
                    <a href="https://github.com/Aaathif/IWT_Project-BuyBuylk"><img src="https://www.chapmantaylor.com/uploads/future-land-wulumuqi-shopping-mall-1.jpg"  width="300px" height="50px" class=" pe-4 ml-[35px]"/></a>
                  </div>
                  <div class=" h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Image processing tools </h1>
                  <a href="https://github.com/SAThenuwara/DIP-assignment">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg"  width="300px" height="50px" class=" pe-4 ml-[35px]"/>
                  </a>  
                  </div>
                  
                  
                
       </div>
    </div>

    
              
           
  </div>

  <div class=" w-full bg-custom-gray flex justify-center row-span-6  tbs:overflow-y-auto mb-14">
    <div>

        <div class=" flex mt-6 justify-center">  
                
            <h1 class="text-[40px]  font-semibold text-white   ">UI UX DESIGNS</h1>
        
        </div>
        
       <div class="lg:grid lg:grid-cols-3 gap-7  justify-center bg-custom-gray mt-4 ">
                  
                  <div class="  h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Kandegedara Tea Design</h1>
                    <a href="https://www.figma.com/design/Wqvk5ie5L1shzj0jx9SmbY/Kandegedara-Tea-Distributors?node-id=0-1">
                      <img src="https://firebasestorage.googleapis.com/v0/b/imageuplode-3e802.appspot.com/o/images%2FAboutUs%20(1).png?alt=media&token=5c3458f2-e9e5-4ef8-a430-7c75a5d4ea66"  width="300px" height="10px" class=" px-10 ml-10"/>
                    </a>
                   
                  </div>
                  <div class="  h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Food Factory Web Design UI </h1>
                    <a href="https://www.figma.com/design/n8ZRPpP5vuHDUFAQZ5Y1tX/food-website">
                      <img src=" ../../../../assets/logo.png"  width="300px" height="10px" class=" px-10 mt-7 ml-6"/>
                    </a>
                   
                  </div>

                  <div class="  h-[250px] w-[400px] rounded-2xl shadow-2xl drop-shadow-2xl pl-4 pt-3  bg-blue-50 ">
                    <h1 class=" text-center font-thin text-[25px] text-black">Design  Tourism website UI </h1>
                    <a href="https://www.figma.com/design/y0OEU6fKKg99tauJarZNmu/Untitled?node-id=0-1&t=w6AsFBLA6QWdt39E-0">
                      <img src=" ../../../../assets/Redesign a Tourism website User Interface3 .png"  width="220px" height="9px" class=" px-10   mt-2  ml-16"/>
                    </a>
                   
                  </div>
                  
                
       </div>
    </div>

    
              
           
  </div>
 
