<div class="   bg-custom-gray justify-center items-center  ">
    <div class=" text-whitee w-full  justify-center items-center py-3 mt-2 lg:grid lg:grid-cols-2" >
        <div class="mt-2 pl-3 text-white border-y-purple-600   ">
 
         
        </div>
        
        <div class=" text-whitee pr-4 mt-2 text-end ">
           
         <ul class="mr-8 lg:flex lg:flex-1 items-center justify-end gap-6   text-white " [ngClass] = "{'navebar':navdis}">
             <li class="navho cursor-pointer " (click)="scrollToSkills('home')" ><a href="">Home</a></li>
             <li class="navho cursor-pointer" (click)="scrollToSkills('skills')"><a >skill</a></li>
             <li class="navho cursor-pointer" (click)="scrollToSkills('about')"><a >Project</a></li>
             <li class="navho cursor-pointer"  (click)="scrollToSkills('skills')"><a >My Profile</a></li>
           </ul>
          
          
        </div>
      
     </div>
</div>
