<div class=" lg:w-full lg:h-[650px] bg-gray-[] justify-center items-center sm:w-auto sm:h-auto  ">
 
    <div class=" lg:flex  md:grid-cols-2">
        <section class="max-lg:padding-x relative lg:w-[950px]  flex-col items-start  bg-custom-gray e  pl-5   ">
        
             <section class="  bg-custom-gray lg:w-full justify-center  ">
                <div class=" lg:pl-[160px] pt-9 sm:w-auto  max-lg:mr-4 sm:h-auto">
                    <img src="../../assets/IMG_4539.jpg"  width="500px"  class="filter transition-all duration-300 cursor-pointer  border-none  rounded-full " />
                   
                </div>
             </section>
           
        </section>
        <section class="max-lg:padding-x relative w-full flex-col items-start justify-center bg-custom-gray   h-[600px]  ">
            <section class=" bg-yellow-300 max-w-7xl mx-auto w-full text-center justify-center ">
                <div class="  bg-custom-gray h-[500px] text-center  lg:pt-44 font-extralight">
                    <h1 class="  text-[80px]  text-white  font-light ">Hey , I am  Piyumal  </h1>
                    
                         
                        <h1  class="lg:text-[45px]    mt-1 text-gray-600 tbs:text-4xl    ">UI / UX Design, Web design,    </h1>  
                        <h1  class="lg:text-[45px]     text-gray-600 tbs:text-4xl   mt-6  ">Digital Marketing Service</h1>
                        
                      
                </div>
           
            </section>
        </section>
      </div>
  
  
  </div>
  <div class=" lg:w-full lg:h-[500px] bg-custom-gray flex justify-center  flex-col text-white items-center " id="About">
  
    <h1 class=" text-[40px]  text-center font-semibold text-whit lg:px-[85px]">About</h1>
    <div class=" max-w-3xl">
        <p class=" text-center  pt-3  text-[20px] ml-24 mr-24">I am an IT Undergraduate
            specializing in Interactive media at
            SLIIT Malabe. I am a person who
            likes to do creative things including
            UIUX designs, web designs, 3D
            modeling and looking for new and
            creative challenges to expand my
            knowledge and experience.</p>
    </div>
  </div>
