<div class=" lg:w-full lg:h-[650px] bg-gray-900 justify-center items-center sm:w-auto sm:h-auto  ">
 
    <div class=" lg:flex  md:grid-cols-2">
        <section class="max-lg:padding-x relative lg:w-[950px]  flex-col items-start  bg-gray-900 e  pl-5   ">
        
             <section class="  bg-gray-900 lg:w-full justify-center  ">
                <div class=" lg:pl-[160px] pt-9 sm:w-auto  sm:h-auto">
                    <img src="../../assets/imagepiyumsle.PNG"  width="500px"  class="filter transition-all duration-300 cursor-pointer  border-none mt-14 rounded-full " />
                   
                </div>
             </section>
           
        </section>
        <section class="max-lg:padding-x relative w-full flex-col items-start justify-center bg-gray-900   h-[600px]  ">
            <section class=" bg-yellow-300 max-w-7xl mx-auto w-full text-center justify-center ">
                <div class=" bg-gray-900  h-[500px] text-center  pt-14 font-extralight">
                    <h1 class=" text-[110px] hover:animate-bounce text-white  ">Hi , I am  <span class=" text-red-500">Chandima</span> </h1>
                    
                        <h1  class="  lg:text-[100px] mt-1  text-white tbs:text-7xl " >Piyumal</h1>  <br>
                        <h1  class="lg:text-[50px]    mt-1 text-gray-600 tbs:text-4xl  ">UI / UX Design, Web design,<span class=""> Digital Marketing Service</span>  </h1>  
                        
                      
                </div>
           
            </section>
        </section>
      </div>
  
  
  </div>
  <div class=" lg:w-full lg:h-[500px] bg-gray-900  text-white items-center " id="About">
  

     <div>
        <h1 class=" text-[50px]  font-semibold text-whit lg:px-[85px]">About</h1>
        <p class=" text-center pt-16 text-[20px] ml-24 mr-24">I am an IT Undergraduate
            specializing in Interactive media at
            SLIIT Malabe. I am a person who
            likes to do creative things including
            UIUX designs, web designs, 3D
            modeling and looking for new and
            creative challenges to expand my
            knowledge and experience.</p>
     </div>
  </div>
